.sedan-car {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sedan-car .div {
    background-color: #ffffff;
    width: 1280px;
    height: 1045px;
    position: relative;
}

.sedan-car .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.sedan-car .rectangle {
    position: relative;
    width: 1280px;
    height: 80px;
    background-color: #cf1f1f;
}

.sedan-car .navbar {
    display: inline-flex;
    align-items: center;
    gap: 195px;
    position: absolute;
    top: 13px;
    left: 40px;
}

.sedan-car .azoom {
    position: relative;
    width: 106px;
    height: 55px;
}

.sedan-car .navbar-2 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.sedan-car .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .rectangle-2 {
    position: relative;
    width: 151px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 4px;
}

.sedan-car .button {
    position: relative;
    width: 11px;
    height: 17px;
}

.sedan-car .screenshot {
    position: absolute;
    width: 473px;
    height: 194px;
    top: 271px;
    left: 586px;
    object-fit: cover;
}

.sedan-car .group {
    position: absolute;
    width: 325px;
    height: 36px;
    top: 207px;
    left: 547px;
}

.sedan-car .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Source Sans Pro-Semibold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.sedan-car .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57px;
    position: absolute;
    top: 515px;
    left: 543px;
}

.sedan-car .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .group-2 {
    position: relative;
    width: 580px;
    height: 72px;
    margin-right: -2px;
}

.sedan-car .rectangle-3 {
    position: absolute;
    width: 578px;
    height: 50px;
    top: 22px;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
}

.sedan-car .text-wrapper-3 {
    position: absolute;
    width: 161px;
    top: 0;
    left: 4px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}

.sedan-car .text-wrapper-4 {
    position: absolute;
    width: 247px;
    top: 0;
    left: 4px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}

.sedan-car .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 14px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .group-3 {
    position: relative;
    width: 228px;
    height: 72px;
}

.sedan-car .rectangle-4 {
    position: absolute;
    width: 226px;
    height: 50px;
    top: 22px;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
}

.sedan-car .text-wrapper-5 {
    position: absolute;
    width: 97px;
    top: 0;
    left: 2px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}

.sedan-car .group-4 {
    position: relative;
    width: 228px;
    height: 72px;
    margin-right: -2px;
}

.sedan-car .div-wrapper {
    display: flex;
    width: 578px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 21px 48px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ca2929;
    border-radius: 8px;
    box-shadow: 0px 20px 40px #fa62223d, 0px 5px 10px #fd715b38, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
    box-sizing: border-box;
}

.sedan-car .text {
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;
    color: var(--themewhite);
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    letter-spacing: 0;
    white-space: nowrap;
}

.sedan-car .image-title {
    display: flex;
    flex-direction: column;
    width: 283.4px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 172px;
    left: 139px;
}

.sedan-car .rectangle-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 283px;
    border-radius: 16px;
    overflow: hidden;
}

.sedan-car .img {
    position: absolute;
    width: 283px;
    height: 283px;
    top: 0;
    left: 0;
}

.sedan-car .name-location-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.sedan-car .name-location {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .name {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--headline-6-bold-font-family);
    font-weight: var(--headline-6-bold-font-weight);
    color: var(--themegray-800);
    font-size: var(--headline-6-bold-font-size);
    letter-spacing: var(--headline-6-bold-letter-spacing);
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
}

.sedan-car .location {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .text-2 {
    font-family: var(--headline-6-font-family);
    font-weight: var(--headline-6-font-weight);
    color: #1c659b;
    font-size: var(--headline-6-font-size);
    line-height: var(--headline-6-line-height);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    letter-spacing: var(--headline-6-letter-spacing);
    white-space: nowrap;
    font-style: var(--headline-6-font-style);
}

.sedan-car .price {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.sedan-car .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--headline-6-bold-font-family);
    font-weight: var(--headline-6-bold-font-weight);
    color: var(--themegray-900);
    font-size: var(--headline-6-bold-font-size);
    letter-spacing: var(--headline-6-bold-letter-spacing);
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
}

:root {
    --themewhite: rgba(255, 255, 255, 1);
    --themegray-800: rgba(66, 66, 66, 1);
    --themegray-900: rgba(33, 33, 33, 1);
    --headline-6-bold-font-family: "SourceSans Pro-Bold", Helvetica;
    --headline-6-bold-font-weight: 700;
    --headline-6-bold-font-size: 22px;
    --headline-6-bold-letter-spacing: 0px;
    --headline-6-bold-line-height: 120.00000476837158%;
    --headline-6-bold-font-style: normal;
    --headline-6-font-family: "SourceSans Pro-Regular", Helvetica;
    --headline-6-font-weight: 400;
    --headline-6-font-size: 22px;
    --headline-6-letter-spacing: 0px;
    --headline-6-line-height: 120.00000476837158%;
    --headline-6-font-style: normal;
}
